* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #ccc;
}

.content {
  display: flex;
  justify-content: space-between;
}

.search-area {
  flex: 1;
  margin: 40px 30px;
}
.input {
  font-size: 14px;
  background-color: #222;
  color: #ddd;
  border: 3px solid #555;
  padding: 5px;
  margin-right: 0;
  outline: none;
  width: 43vw;
  margin: 0;
}
.input:focus {
  border: 3px solid #aaa;
}

.items-list {
  font-size: 14px;
  color: #ddd;
  width: 43vw;
  background-color: #272727;
}

h3 {
  padding: 5px 0;
  margin-bottom: 14px;
}
h3 span {
  opacity: 0.6;
  font-weight: 100;
  padding-right: 2px;
}
h3 strong {
  font-weight: 900;
}

li {
  list-style: none;
}
.items-list li:hover {
  background-color: #333;
  border: 3px solid #333;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
}
.items-list li {
  list-style: none;
  margin: 0;
  border: 3px solid #272727;
  border-top: 0;
  border-bottom: 0;
  padding: 5px;
  margin: 0;
}

.info {
  flex: 1;
  margin: 40px 30px;
  text-align: right;
}
li.names-item:hover {
  cursor: pointer;
  border-bottom: 1px solid #fff9 !important;
  transition: 100ms;
}
